* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#detail_btn{
    border-radius: 10px;
    border: none;
    font-size: .6rem;
    background-color: black;
    color: gold;
    cursor: pointer;
    
}

body {
    background: linear-gradient(45deg, #f65687, red) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    width: 98vw;
    height: 100vh;
    padding: 8rem;
}

ol#detalhes{
    background: linear-gradient(90deg, #808080, #0000 );
    border-radius: 5px;
    margin: 0px;
    padding: 7px 0 0 0;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    list-style: none;
    position: fixed;
    display: flex;
    right: 100px;
    top: 20px;
    
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}